ul{
  list-style-type: none;
  padding: 0;
  margin: 20px 0 0 0;  
}

li{
  float: left;
}

a{
text-decoration: none;
display: inline;
padding: 10px;
}

.container{
  display: flex;
  flex-direction: column;
}

.logo{
  width: 270px;
  height: 92px;
  margin: auto;
  margin-top: 15%;
  padding: 25px;
}

#input{
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 400px;
}

#submit{
  display: flex;
  flex-direction: row;
  margin: 20px auto;
  width: 100px;
  background-color: #f3f3f3;
  border-radius: 10px;
  height: 4em;
}

.footer{
  position: fixed;
  bottom: 10px;
  width: 100%;
  background-color: #f3f3f3;
}

#right-foot{
  float: right;
  margin-right: 10px;
}